.home-page {
  margin: 20px;

  .button-round {
    position: absolute;

    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

  .config {
    margin-top: 1rem;
  }

  .far {
    margin-left: 1rem;
    font-size: 2rem;
  }

  .red {
    color: 	#8B0000;
  }

  .green {
    color: 	#008B00;
  }
}