.home-page {
  margin: 20px;

  .controller-button {
    &:focus {
      border: 1px dashed white;
    }
  }

  .button-round {
    position: absolute;

    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

  .config {
    margin-top: 1rem;
  }

  .far {
    margin-left: 1rem;
    font-size: 2rem;
  }

  .red {
    color: 	#8B0000;
  }

  .green {
    color: 	#008B00;
  }

  .button-control-panel {
    margin-top: 1rem;
    width: 600px;
    outline: dashed 2px white;
    padding: 1rem;
  }
}